* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
}

body {
  font-family: "Open Sans", sans-serif;
}

.product-name {
  text-align: center;
  margin: 0 10px;
  font-size: 1.5rem;
  justify-items: center;
  justify-content: center;
}

.brand {
  text-align: center;
  font-size: 30px;
  margin-bottom: 10px;
  flex-direction: column;
}

.since,
.year {
  font-weight: lighter;
  font-size: 12px;
  margin: 0 5px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.year {
  font-size: 14px;
  margin-left: 5px;
  margin-bottom: 80px;
  margin-top: 80px;
}

.symbol {
  font-size: 14px;
  position: relative;
  top: -8px;
  left: 2px;
}

.note1 {
  font-size: 0.65rem;
  border: 1px solid black;
  width: 240px;
  margin: 30px auto;
  padding: 5px;
  display: flexbox;
  float: inherit;
  position: relative;
  /* margin: 5px 0;
  padding: 0 8px; */
  text-indent: -2px;
}

.label {
  border: 2px solid black;
  width: 270px;
  margin: 20px auto;
  padding: 0 7px;
}

header h1 {
  text-align: center;
  margin: -4px 0;
  letter-spacing: 0.15px;
}

p {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.divider {
  border-bottom: 1px solid #888989;
  margin: 2px 0;
}

.bold {
  font-weight: 800;
}

.large {
  height: 10px;
}

.large,
.medium {
  background-color: black;
  border: 0;
}

.medium {
  height: 5px;
}

.small-text {
  font-size: 0.85rem;
}

.calories-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.calories-info h2 {
  margin: 0;
}

.left-container p {
  margin: -5px -2px;
  font-size: 2em;
  font-weight: 700;
}

.calories-info span {
  margin: -7px -2px;
  font-size: 2.4em;
  font-weight: 700;
}

.right {
  justify-content: flex-end;
}

.indent {
  margin-left: 1em;
}

.double-indent {
  margin-left: 2em;
}

.daily-value p:not(.no-divider) {
  border-bottom: 1px solid #888989;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}
